{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="/static/home/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                   <div class="item_introtext"> 
					<strong>DREAM SACCO</strong>
					<p>Grow with us! </p> </div>
                </div>
              </li>
              <li>
                <img src="/static/home/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                     <div class="item_introtext">
					<strong>DREAM SACCO</strong>
					<p>Promotes saving habits</p> </div>
                </div>
              </li>
              <li>
                <img src="/static/home/img/slides/3.jpg" alt="" />
                <div class="flex-caption">
                     <div class="item_introtext">
					<strong>DREAM SACCO</strong>
					<p> Promotes investment opportunities </p> </div>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 </section>
	<section class="heroText">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div><h1>Our main Products</h1> </div>
			</div>
		</div>
	</div>

	<div class="container">
			<div class="row">
		<div class="skill-home"> <div class="skill-home-solid clearfix">
		<div class="col-md-3">
		 <div class="box-area">
             <img src="/static/home/img/save.jpg" alt="">
		<h3>Main Savings</h3> <p>Is the heart of your membership. Enables you to qualify for loans of upto four (x4) your main savings contributions.

</p></div>
		</div>
		<div class="col-md-3">
		 <div class="box-area">
                <img src="/static/home/img/normal.png" alt="">

		<h3>Normal Loans</h3> <p>Purchase or build a house, buy a plot or a car, start a business or even do large-scale farming.</p></div>
		</div>
		<div class="col-md-3">
		 <div class="box-area">
             <img src="/static/home/img/new.png" alt="">
		<h3>Emergency Loan</h3> <p>Meet an unexpected short-term or personal need such as medical bills, funeral expenses, court fines and other unexpected calamities.​


</p></div>
		</div>
		<div class="col-md-3">
		 <div class="box-area">
             <img src="/static/home/img/premium.png" alt="">
		<h3>Premium Loans</h3> <p>Given for development purposes to a member who would like to take a longer repayment period. Higher interest rate is charged.

</p>
		</div></div>
		</div></div>
		</div>


	</div>
	</section>
	<section id="content">
	 <div class="container">
	<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Major Branches</h4>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/home/img/works/1.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb">

						<h5>Mombasa branch</h5> <p>Biashara plaza,Located in Mpeketoni opposite kenol kobil</p> <i class="icon-info-blocks fa fa-search"></i>

						</span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/home/img/cape.jpg" alt="" height="10">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/home/img/bb.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><h5>Nairobi</h5> <p>Main branch located at Zion plaza, Ardison street</p> <i class="icon-info-blocks fa fa-search"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/home/img/tt.jpg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="graphic">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/home/img/works/3.jpg" height="100">
						<span class="overlay-img" height="100"></span>
						<span class="overlay-img-thumb" ><h5>Kisumu Branch</h5> <p>Located at Oginga street next to Tuskys Supermarket</p> <i class="icon-info-blocks fa fa-search"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/home/img/bb.jpg" height="100" alt="">
						</li>
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/home/img/works/4.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><h5>Nyeri Branch</h5> <p>Located at Kimathi street next to Equity bank</p> <i class="icon-info-blocks fa fa-search"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/home/img/qq.jpg" alt="">
						</li>
					</ul>
					</section>
				</div>
			</div>
			</div>
		</div>

	</section>
	<div class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote">
                    <i class="fa fa-microphone"></i>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <p>"I will tell you how to become rich. Close the doors. Be fearful when others are greedy. Be greedy when others are fearful."

.</p>
                        <p>
                            <b>-Warren Buffett-</b>
                        </p>
                    </div>
                    <div class="item">
                        <p>"The stock market is filled with individuals who know the price of everything, but the value of nothing."
.</p>
                        <p>
                            <b>-Phillip Fisher -</b>
                        </p>
                    </div>
                    <div class="item active">
                        <p>"How many millionaires do you know who have become wealthy by investing in savings accounts? I rest my case."
</p>
                        <p>
                            <b>-Robert G. Allen-</b>
                        </p>
                    </div>
                    <div class="item">
                        <p> "Investing should be more like watching paint dry or watching grass grow. If you want excitement, take $800 and go to Las Vegas."
                        </p>
                        <p>
                            <b> - Paul Samuelson -</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
