{% extends 'base.html' %}
{% block content %}
<div id="wrapper">


	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Loans</h2>
			</div>
		</div>
	</div>
	</section>
	 
	<section id="content">
		<div class="container content">		
        <!-- Service Blcoks -->
		<div class="row">
	
	<div class="col-md-12">
			<article class="item column-1"> 
<!--  title/author -->
<header class="item_header">
	<h3>Types of Loans</h3></header>
<!-- Introtext -->
<div>
                        <p> We offer differEnt types of loans, this includes:</p>
<p>
                    <ul class="item_list">
                        <li><a href="#">Normal Loans</a></li>
                        <li><a href="#">Top Up Loans</a></li>
                        <li><a href="#">Emergency Loans</a></li>
                        <li><a href="#">School fees loans</a></li>
                        <li><a href="#">Premium Loans</a></li>
                        <li><a href="#">Mega/ Consolidated Loans</a></li>
                    </ul></p>
</div>
                    <!-- info BOTTOM --><!-- end item -->
					</div>
					<h3>Requirements and Features</h3></header>
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
               <img class="img-responsive" src="/static/home/img/school.png" alt="">
                <h3>School Fees Loan</h3>
                <p> A school fees loan is designed to assist a member pay school fees in various institutions of learning. It could be colleges, Universities or Seconday schools.This loan is for you!</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="/static/home/img/new.png" alt="">
                <h3>Emergency Loan</h3>
                <p>An Emergency loan is designed to help a member meet an unexpected short-term or personal need such as medical bills, funeral expenses, court fines, other unexpected calamities and other personal needs. This loan is for you!

</p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
              <img class="img-responsive" src="/static/home/img/normal.png" alt="">
                <h3>Normal Loans</h3>
                <p>A normal loan is designed for development purposes. It enables you purchase or build a house, purchase a plot, buy a car, start a business or even do large-scale farming.</p>
            </div>
        </div>
        <!-- End Service Blcoks -->

        <!-- End Info Blcoks -->


            <div class="col-md-12">
			<article class="item column-1">
<!--  title/author -->
<header class="item_header">
	<h3>Requirements And Features:</h3></header>
<!-- Introtext -->

                        <p> <ul type="square">
                <li> Be a Sacco member with consistent contributions for a minimum of 6 months. Defaulters don’t qualify. Additionally, you will need to provide a collateral to qualify for the loan.</li>
                <li> You will be eligible for a loan of upto four times (x4) your current total Main Savings Account contributions.</li>
                <li>The amount borrowed shall not exceed KES 3 Million; however a higher loan amount may be approved subject to availability of funds.</li>
                <li>The repayment period shall be a maximum of 36 months. </li>
                <li>You will need to have Sacco escrow account with equivalent of at least three months loan repayment amount. This balance must be maintained throughout the loan duration.</li>
                <li> The loan shall attract an interest rate of 1.00% per month on a reducing balance.</li>
                <li>Pay a non-refundable loan-processing fee of 1% of loan amount subject to a minimum of $100.</li>
                <li>Show proof of ability to repay the loan – paystubs, other incomes etc.</li>
                <li>The Security shall be the member’s savings or other acceptable property. No member guarantors accepted.</li>
                <li>If you use a developed property (e.g. a house) as collateral, the loan value will not exceed 80% of the market value of the property used as a collateral.</li>
                <li>If you use an undeveloped property (e.g. a plot) as collateral, the loan given will not exceed 75% of market value of the undeveloped property used as a collateral.</li>


            </ul> </p>
                <header class="item_header">
	<h3>Documents Required when Applying loans:</h3></header>
                <h4>If you are employed:</h4></header>

                <p> <ul type="square">

                <li>Pay-stubs for the latest 3 months (Notarized)</li>
                <li>Letter from employer confirming employment status (Notarized)</li>
                <li>Bank statements for the latest 6 months (Notarized)</li>
                <li>Copy of Kenya ID or Kenya valid Passport</li>
                <li>KRA PIN Certificate</li>
                <li>Copy of the latest W2 Form issued by the employer</li>
                <li>Security - Copy of the title document of a property acceptable by the Sacco (Minimum lease term 35 years)</li>

            </ul></p>
 <h4>If you are Self-employed or Contract:</h4></header>
                <p><ul type="square">
                <li>Bank statements for the latest 12 months (Notarized)</li>
                <li>Copy of Kenya ID or Kenya valid Passport</li>
                <li>KRA PIN certificate</li>
                <li>Business registration certificate</li>
                <li>IRS Business Tax Returns for the latest filing year</li>
                <li>Security - Copy of the title document of a property acceptable by the Sacco (Minimum lease term 35 years)</li>

            </ul></p>
                <form>
                    <input type="button" value="download application form" name="submit">
                </form>

            </article>

            </div>



    </section>
	{% endblock %}